---
import { Icon } from "astro-icon/components";
import Tag from "./tag.astro";
---

<Tag class="bg-[#00ADD8] text-white font-bold">
  <Icon  name="mdi:language-go" />
  <span class="text-xs">Golang</span>
</Tag>
