---
import { Icon } from "astro-icon/components";
import Tag from "./tag.astro";
---

<Tag class="bg-[#B07219] text-white font-bold">
  <Icon name="mdi:language-java" />
  <span class="text-xs">Java</span>
</Tag>
