---
import { Icon } from "astro-icon/components";
import Tag from "./tag.astro";
---

<Tag class="bg-[#f7df1e] font-bold">
  <Icon  name="mdi:language-javascript" />
  <span class="text-xs">Javascript</span>
</Tag>
