---
import { Icon } from "astro-icon/components";
import Tag from "./tag.astro";
---

<Tag class="bg-[#AEB2D5] font-bold">
  <Icon name="mdi:language-php" />
  <span class="text-xs">Php</span>
</Tag>
