---
import { Icon } from "astro-icon/components";
import Tag from "./tag.astro";
---

<Tag class="bg-[#306998] font-bold text-white">
  <Icon name="mdi:language-python" />
  <span class="text-xs">Python</span>
</Tag>
