---
const { class: className } = Astro.props;
---

<span
  class:list={[
    "flex flex-row space-x-1 items-center justify-center px-2 py-1 rounded-full shadow-sm",
    className,
  ]}
>
  <slot />
</span>
