---
import { Icon } from "astro-icon/components";
import Tag from "./tag.astro";
---

<Tag class="bg-[#3178C6] text-white font-bold">
  <Icon  name="mdi:language-typescript" />
  <span class="text-xs">Typescript</span>
</Tag>
