---
import Box from "./box.astro";

const posts = await Astro.glob("../pages/blog/posts/*.md");

const options = { year: "numeric", month: "long", day: "numeric" };
const formatDate = (d: string) => {
  //@ts-ignore
  return new Date(d).toLocaleDateString("en-US", options);
};
---

<div class="flex flex-col flex-1 w-full col-span-2">
  <p class="text-xl mb-2">Latest blog posts</p>

  {
    posts.slice(0, 3).map((post) => (
      <a href={post.url}>
        <Box class="pl-4 py-4">
          <p class="text-sm" slot="title">
            {formatDate(post.frontmatter.pubDate)}
          </p>
          <p class="font-semibold">{post.frontmatter.title}</p>
          <p class="italic text-sm">{post.frontmatter.description}</p>
        </Box>
      </a>
    ))
  }
</div>
