---
import { Icon } from "astro-icon/components";
import Tab from "./tab.astro";

const { class: className } = Astro.props;
const onBog = Astro.url.pathname.includes("blog");
---

<header
  class:list={[
    "sticky px-6 pt-6 flex-col space-y-4 bg-slate-50 border-b-2 border-neutral-200 w-full",
    className,
  ]}
>
  <nav
    class="max-w-[70rem] mx-auto flex justify-between translate-y-[0.1rem] items-center"
  >
    <div class="flex gap-x-3">
      <Tab
        class="text-lg sm:text-2xl"
        active={!Astro.url.pathname.includes("blog")}
        href="/">~/</Tab
      >
    </div>
    <div class="flex flex-row space-x-4">
      <Tab href="https://github.com/CedricVanhaverbeke">
        <Icon name="mdi:github" class="text-xl sm:text-2xl" />
      </Tab>
      <Tab href="https://x.com/cedricvhb">
        <Icon name="mdi:twitter-circle" class="text-xl sm:text-2xl" />
      </Tab>
      <Tab href="https://www.linkedin.com/in/cedric-vanhaverbeke-6915a3b4/">
        <Icon name="mdi:linkedin" class="text-xl sm:text-2xl" />
      </Tab>
    </div>
  </nav>
</header>
